# Week 4 Peer Review Assignment

### Submitted By: Ayush Thada

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [1]:
# Import the required packages
using Distributions, DataFrames, Random

In [2]:
# Seed the random number generator
Random.seed!(1234);

In [3]:
# Question 4: In a code cell below, create a dataframe named df1, with 30 rows and 4 columns (variables). 
# Call the first column ID. It should hold the values 1 through 30 (to make up 30 rows). Use three rand() 
# function calls to generate three more columns named var1, var2, and var3. 
# The second column (var1) should consist of 30 values from a standard normal distribution 
# (mean of 0 and standard deviation of 1). The third column (var2) should consist of 30 random value from a 
# normal distribution with a mean of 10 and a standard deviation of 2. The last column (var3) should contain 
# 30 random values chosen from a range of integers between (and including) 5 and 15.

colID = range(1, 30, step=1)
var1 = rand(Distributions.Normal(0, 1), 30)
var2 = rand(Distributions.Normal(10, 2), 30)
var3 = rand(5:15, 30)

df1 = DataFrame(ColumnId = colID, Var1 = var1, Var2 = var2, Var3 = var3)

30×4 DataFrame
│ Row │ ColumnId │ Var1       │ Var2    │ Var3  │
│     │ Int64    │ Float64    │ Float64 │ Int64 │
├─────┼──────────┼────────────┼─────────┼───────┤
│ 1   │ 1        │ 0.867347   │ 7.44066 │ 14    │
│ 2   │ 2        │ -0.901744  │ 11.9946 │ 13    │
│ 3   │ 3        │ -0.494479  │ 10.6048 │ 12    │
│ 4   │ 4        │ -0.902914  │ 9.92711 │ 9     │
│ 5   │ 5        │ 0.864401   │ 10.2839 │ 15    │
│ 6   │ 6        │ 2.21188    │ 11.0425 │ 14    │
│ 7   │ 7        │ 0.532813   │ 11.7935 │ 15    │
│ 8   │ 8        │ -0.271735  │ 8.97294 │ 9     │
│ 9   │ 9        │ 0.502334   │ 8.4704  │ 9     │
│ 10  │ 10       │ -0.516984  │ 6.91715 │ 8     │
⋮
│ 20  │ 20       │ -1.50343   │ 8.91239 │ 13    │
│ 21  │ 21       │ 1.56417    │ 7.54655 │ 14    │
│ 22  │ 22       │ -1.39674   │ 8.91657 │ 5     │
│ 23  │ 23       │ 1.1055     │ 8.62701 │ 8     │
│ 24  │ 24       │ -1.10673   │ 8.57414 │ 9     │
│ 25  │ 25       │ -3.21136   │ 9.34588 │ 5     │
│ 26  │ 26       │ -0.0740145 │ 11.0297 │ 9     │
│ 27  │ 27       │ 0.150976   │ 14.8349 │ 10    │
│ 28  │ 28       │ 0.769278   │ 9.38405 │ 14    │
│ 29  │ 29       │ -0.310153  │ 12.4906 │ 15    │
│ 30  │ 30       │ -0.602707  │ 9.9001  │ 7     │

In [4]:
# In code cells below, write the code to calculate the mean and variance of each column in the dataframe. 
# For example for the first variable this could be done using the println function and referring to each column 
# (variable) by its symbol notation. Try to shorten the code with a for-loop, iterating over the variables names 
# (in symbol format).

println("The mean of first column is ", mean(df1[:ColumnId]))
println("The variance of first column is ", var(df1[:ColumnId]))

println("\nThe mean of second column is ", mean(df1[:Var1]))
println("The variance of second column is ", var(df1[:Var1]))

println("\nThe mean of  third is ", mean(df1[:Var2]))
println("The variance of third column is ", var(df1[:Var2]))

println("\nThe mean of  fourth is ", mean(df1[:Var3]))
println("The variance of fourth column is ", var(df1[:Var3]))

The mean of first column is 15.5
The variance of first column is 77.5

The mean of second column is -0.061674963752526096
The variance of second column is 1.1790054448274625

The mean of  third is 9.580613055613338
The variance of third column is 2.948790077536739

The mean of  fourth is 11.0
The variance of fourth column is 11.724137931034482

In [5]:
# Another way to do similar thing.

for x in names(df1)
    println("The mean of $(x) column is ", mean(df1[x]))
    println("The variance of $(x) column is ", var(df1[x]), "\n")
end

The mean of ColumnId column is 15.5
The variance of ColumnId column is 77.5

The mean of Var1 column is -0.061674963752526096
The variance of Var1 column is 1.1790054448274625

The mean of Var2 column is 9.580613055613338
The variance of Var2 column is 2.948790077536739

The mean of Var3 column is 11.0
The variance of Var3 column is 11.724137931034482

In [6]:
# In a code cells below, create a new DataFrame named df2 from the last 20 rows of the original DataFrame, df1.

df2 = deepcopy(df1[end-19:end, :])

20×4 DataFrame
│ Row │ ColumnId │ Var1       │ Var2    │ Var3  │
│     │ Int64    │ Float64    │ Float64 │ Int64 │
├─────┼──────────┼────────────┼─────────┼───────┤
│ 1   │ 11       │ -0.560501  │ 9.83968 │ 15    │
│ 2   │ 12       │ -0.0192918 │ 7.81756 │ 14    │
│ 3   │ 13       │ 0.128064   │ 8.83897 │ 11    │
│ 4   │ 14       │ 1.85278    │ 9.36913 │ 10    │
│ 5   │ 15       │ -0.827763  │ 7.2771  │ 15    │
│ 6   │ 16       │ 0.110096   │ 9.77109 │ 15    │
│ 7   │ 17       │ -0.251176  │ 10.3317 │ 6     │
│ 8   │ 18       │ 0.369714   │ 9.18312 │ 5     │
│ 9   │ 19       │ 0.0721164  │ 7.98043 │ 12    │
│ 10  │ 20       │ -1.50343   │ 8.91239 │ 13    │
│ 11  │ 21       │ 1.56417    │ 7.54655 │ 14    │
│ 12  │ 22       │ -1.39674   │ 8.91657 │ 5     │
│ 13  │ 23       │ 1.1055     │ 8.62701 │ 8     │
│ 14  │ 24       │ -1.10673   │ 8.57414 │ 9     │
│ 15  │ 25       │ -3.21136   │ 9.34588 │ 5     │
│ 16  │ 26       │ -0.0740145 │ 11.0297 │ 9     │
│ 17  │ 27       │ 0.150976   │ 14.8349 │ 10    │
│ 18  │ 28       │ 0.769278   │ 9.38405 │ 14    │
│ 19  │ 29       │ -0.310153  │ 12.4906 │ 15    │
│ 20  │ 30       │ -0.602707  │ 9.9001  │ 7     │

In [7]:
# In a code cells below, show the results of computing simple descriptive statistics on this new DataFrame 
# using the describe() function.

describe(df2)

4×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min      │ median     │ max     │ nunique │
│     │ Symbol   │ Float64   │ Real     │ Float64    │ Real    │ Nothing │
├─────┼──────────┼───────────┼──────────┼────────────┼─────────┼─────────┤
│ 1   │ ColumnId │ 20.5      │ 11       │ 20.5       │ 30      │         │
│ 2   │ Var1     │ -0.187058 │ -3.21136 │ -0.0466532 │ 1.85278 │         │
│ 3   │ Var2     │ 9.49853   │ 7.2771   │ 9.2645     │ 14.8349 │         │
│ 4   │ Var3     │ 10.6      │ 5        │ 10.5       │ 15      │         │

In [8]:
df2

20×4 DataFrame
│ Row │ ColumnId │ Var1       │ Var2    │ Var3  │
│     │ Int64    │ Float64    │ Float64 │ Int64 │
├─────┼──────────┼────────────┼─────────┼───────┤
│ 1   │ 11       │ -0.560501  │ 9.83968 │ 15    │
│ 2   │ 12       │ -0.0192918 │ 7.81756 │ 14    │
│ 3   │ 13       │ 0.128064   │ 8.83897 │ 11    │
│ 4   │ 14       │ 1.85278    │ 9.36913 │ 10    │
│ 5   │ 15       │ -0.827763  │ 7.2771  │ 15    │
│ 6   │ 16       │ 0.110096   │ 9.77109 │ 15    │
│ 7   │ 17       │ -0.251176  │ 10.3317 │ 6     │
│ 8   │ 18       │ 0.369714   │ 9.18312 │ 5     │
│ 9   │ 19       │ 0.0721164  │ 7.98043 │ 12    │
│ 10  │ 20       │ -1.50343   │ 8.91239 │ 13    │
│ 11  │ 21       │ 1.56417    │ 7.54655 │ 14    │
│ 12  │ 22       │ -1.39674   │ 8.91657 │ 5     │
│ 13  │ 23       │ 1.1055     │ 8.62701 │ 8     │
│ 14  │ 24       │ -1.10673   │ 8.57414 │ 9     │
│ 15  │ 25       │ -3.21136   │ 9.34588 │ 5     │
│ 16  │ 26       │ -0.0740145 │ 11.0297 │ 9     │
│ 17  │ 27       │ 0.150976   │ 14.8349 │ 10    │
│ 18  │ 28       │ 0.769278   │ 9.38405 │ 14    │
│ 19  │ 29       │ -0.310153  │ 12.4906 │ 15    │
│ 20  │ 30       │ -0.602707  │ 9.9001  │ 7     │

In [9]:
# In a code cells below, add a column named cat1 to the df2 DataFrame consisting of a random selection of 20 values from 
# the sample space GroupA and GroupB.

insertcols!(df2, 4,  :Cat1 =>rand(["GroupA", "GroupB"], 20))

20×5 DataFrame
│ Row │ ColumnId │ Var1       │ Var2    │ Cat1   │ Var3  │
│     │ Int64    │ Float64    │ Float64 │ String │ Int64 │
├─────┼──────────┼────────────┼─────────┼────────┼───────┤
│ 1   │ 11       │ -0.560501  │ 9.83968 │ GroupA │ 15    │
│ 2   │ 12       │ -0.0192918 │ 7.81756 │ GroupB │ 14    │
│ 3   │ 13       │ 0.128064   │ 8.83897 │ GroupB │ 11    │
│ 4   │ 14       │ 1.85278    │ 9.36913 │ GroupB │ 10    │
│ 5   │ 15       │ -0.827763  │ 7.2771  │ GroupB │ 15    │
│ 6   │ 16       │ 0.110096   │ 9.77109 │ GroupA │ 15    │
│ 7   │ 17       │ -0.251176  │ 10.3317 │ GroupB │ 6     │
│ 8   │ 18       │ 0.369714   │ 9.18312 │ GroupA │ 5     │
│ 9   │ 19       │ 0.0721164  │ 7.98043 │ GroupB │ 12    │
│ 10  │ 20       │ -1.50343   │ 8.91239 │ GroupA │ 13    │
│ 11  │ 21       │ 1.56417    │ 7.54655 │ GroupB │ 14    │
│ 12  │ 22       │ -1.39674   │ 8.91657 │ GroupB │ 5     │
│ 13  │ 23       │ 1.1055     │ 8.62701 │ GroupA │ 8     │
│ 14  │ 24       │ -1.10673   │ 8.57414 │ GroupA │ 9     │
│ 15  │ 25       │ -3.21136   │ 9.34588 │ GroupA │ 5     │
│ 16  │ 26       │ -0.0740145 │ 11.0297 │ GroupA │ 9     │
│ 17  │ 27       │ 0.150976   │ 14.8349 │ GroupA │ 10    │
│ 18  │ 28       │ 0.769278   │ 9.38405 │ GroupA │ 14    │
│ 19  │ 29       │ -0.310153  │ 12.4906 │ GroupA │ 15    │
│ 20  │ 30       │ -0.602707  │ 9.9001  │ GroupA │ 7     │

In [10]:
# In a code cells below, create a DataFrame named df3 with columns named id, var4 and var5 such that id contains 
# the values 11 through 30, var4 contains the values 21 through 40 and var5 contains the values 41 through 60.

df3 = DataFrame(id = range(11, 30, step=1), var4 = range(21, 40, step=1), var5 = range(41, 60, step=1))

20×3 DataFrame
│ Row │ id    │ var4  │ var5  │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 11    │ 21    │ 41    │
│ 2   │ 12    │ 22    │ 42    │
│ 3   │ 13    │ 23    │ 43    │
│ 4   │ 14    │ 24    │ 44    │
│ 5   │ 15    │ 25    │ 45    │
│ 6   │ 16    │ 26    │ 46    │
│ 7   │ 17    │ 27    │ 47    │
│ 8   │ 18    │ 28    │ 48    │
│ 9   │ 19    │ 29    │ 49    │
│ 10  │ 20    │ 30    │ 50    │
│ 11  │ 21    │ 31    │ 51    │
│ 12  │ 22    │ 32    │ 52    │
│ 13  │ 23    │ 33    │ 53    │
│ 14  │ 24    │ 34    │ 54    │
│ 15  │ 25    │ 35    │ 55    │
│ 16  │ 26    │ 36    │ 56    │
│ 17  │ 27    │ 37    │ 57    │
│ 18  │ 28    │ 38    │ 58    │
│ 19  │ 29    │ 39    │ 59    │
│ 20  │ 30    │ 40    │ 60    │

In [12]:
# In a code cells below, do a join of DataFrames df2 and df3 on the id column and save the result as a new 
# dataframe called df4.

hcat(df2, df3)

20×8 DataFrame. Omitted printing of 1 columns
│ Row │ ColumnId │ Var1       │ Var2    │ Cat1   │ Var3  │ id    │ var4  │
│     │ Int64    │ Float64    │ Float64 │ String │ Int64 │ Int64 │ Int64 │
├─────┼──────────┼────────────┼─────────┼────────┼───────┼───────┼───────┤
│ 1   │ 11       │ -0.560501  │ 9.83968 │ GroupA │ 15    │ 11    │ 21    │
│ 2   │ 12       │ -0.0192918 │ 7.81756 │ GroupB │ 14    │ 12    │ 22    │
│ 3   │ 13       │ 0.128064   │ 8.83897 │ GroupB │ 11    │ 13    │ 23    │
│ 4   │ 14       │ 1.85278    │ 9.36913 │ GroupB │ 10    │ 14    │ 24    │
│ 5   │ 15       │ -0.827763  │ 7.2771  │ GroupB │ 15    │ 15    │ 25    │
│ 6   │ 16       │ 0.110096   │ 9.77109 │ GroupA │ 15    │ 16    │ 26    │
│ 7   │ 17       │ -0.251176  │ 10.3317 │ GroupB │ 6     │ 17    │ 27    │
│ 8   │ 18       │ 0.369714   │ 9.18312 │ GroupA │ 5     │ 18    │ 28    │
│ 9   │ 19       │ 0.0721164  │ 7.98043 │ GroupB │ 12    │ 19    │ 29    │
│ 10  │ 20       │ -1.50343   │ 8.91239 │ GroupA │ 13    │ 20    │ 30    │
│ 11  │ 21       │ 1.56417    │ 7.54655 │ GroupB │ 14    │ 21    │ 31    │
│ 12  │ 22       │ -1.39674   │ 8.91657 │ GroupB │ 5     │ 22    │ 32    │
│ 13  │ 23       │ 1.1055     │ 8.62701 │ GroupA │ 8     │ 23    │ 33    │
│ 14  │ 24       │ -1.10673   │ 8.57414 │ GroupA │ 9     │ 24    │ 34    │
│ 15  │ 25       │ -3.21136   │ 9.34588 │ GroupA │ 5     │ 25    │ 35    │
│ 16  │ 26       │ -0.0740145 │ 11.0297 │ GroupA │ 9     │ 26    │ 36    │
│ 17  │ 27       │ 0.150976   │ 14.8349 │ GroupA │ 10    │ 27    │ 37    │
│ 18  │ 28       │ 0.769278   │ 9.38405 │ GroupA │ 14    │ 28    │ 38    │
│ 19  │ 29       │ -0.310153  │ 12.4906 │ GroupA │ 15    │ 29    │ 39    │
│ 20  │ 30       │ -0.602707  │ 9.9001  │ GroupA │ 7     │ 30    │ 40    │